#home {
  background: url("./images/app.png") no-repeat top center;
  position: relative;
  background-size: cover;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  color: rgb(41, 39, 39);
  overflow: hidden;
  height: 100vh;
  width: calc(100% - 200px);
  /* background-color: rgba(0, 0, 0, 0.51); */
  z-index: -1;
}
#home:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #181818;
  opacity: 0.5;
}
.dev-name {
  font-family: "Playfair Display", serif;
  z-index: 999;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 62px;
  font-weight: 500;
  color: #fff;
}
.home-text {
  font-family: "Playfair Display", serif;
  opacity: 1;
  position: absolute;
  top: 30%;
  width: 100%;
}
.dev-surname {
  font-family: "Playfair Display", serif;
  color: #1ab394;
  font-weight: 900;
}
@media only screen and (max-width: 768px) {
  #home {
    width: 100%;
  }
}
